{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    ["es2015", { "modules": false }]
  ],

  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@src": ["./src"],
          "@components": ["./src/components"],
          "@utils": ["./src/utils"]
        }
      }
    ]
  ]
}
